body{
    margin: 0;
    padding: 0;
    display: grid;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 50px;
}
.logo{
    color: bisque;
}